body {
    margin: 1.5%;
    box-sizing: border-box;
    font-size: medium;
    width: 98%;
    padding: 10px;
    font-family: 'Source Code Pro', sans-serif;
    background-color: #dff4f9;
    /*font-size: larger;*/
}
h1 {
    text-align: center;
    font-size: 3vw;
}

@media (max-width: 600px) {
    table {
        max-width: 90%; /* Allow the table to be up to 90% of the screen on small devices */
    }
}

/* Table */
table {
    width: 100%;
    margin: 50px auto;
    /*max-width: 45%;*/
    table-layout: auto;
    padding: 5px;
    horiz-align: center;
    vertical-align: center;
    border: thin dashed black;
    border-collapse: collapse;
    height: auto;
    tr {
        /*height: auto;*/
        :hover { background-color: #ffcebf; }
        /*td {*/
            border-bottom: 1px #cecccc dashed;
            border-left: 1px black dashed;
    }
    /*}*/
    /*tbody {*/
    /*    td {*/
    /*        text-align: left;*/
    /*        width: 100%;*/
    /*    }*/
    /*}*/
    th {
        background-color: lightgrey;
        td {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

nav {
    text-align: center;
    vertical-align: center;
    /*background-color: #f9f2b2;*/
    background: #dff4f9;
    border-color: #dae9ee;
    padding: 40px;
    /*border-color: #fc9a74;*/
    border-radius: 18px;
    border-style: solid;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    a {
        text-decoration: none;
        background-color: #0f0f0f;
        color: white;
        padding: 20px;
        border-color: #7df008;
        border-style: inset;
        border-radius: 15px;
    }
}

.submitButton{
    text-decoration: none;
    background-color: #19ad19;
    color: black;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border-color: #b13910;
    border-style: inset;
    border-width: 3px;
    border-radius: 15px;
}

.delete{
    text-decoration: none;
    background-color: #870101;
    color: white;
    padding: 20px;
    border-color: #0f0f0f;
    border-style: inset;
    border-width: 4px;
    border-radius: 15px;
}

form {
    border: thin solid black;
    padding: 5px;
    background: #aeacac;
    height: 90%;
}

.actionNav {
    border: 0px;
    background: #aeacac;
}

.deletionLink {
    text-decoration: none;
    background-color: #870026;
    color: white;
}

.warning {
    font-size: 20px;
    font-weight: bold;
    color: #980909;
}