<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchen System</title>
</head>
<body>
<div class="dashboard" id="pantryDashboard" th:if="${dashboard == 'pantryDashboard'}">
    <h1 th:text="${#strings.isEmpty(pageHeading) ? 'Pantry Management'  : pageHeading}"></h1>
    <nav class="nav" id="pantryNav">
        <span><a th:href="@{/kitchen/pantry}">PantryHome</a></span>
        <span><a th:href="@{/kitchen/pantry/save}">Add New Pantry Item</a></span>
        <form id="pantrySearchForm" th:action="@{/kitchen/pantry/search}" th:method="get">
            <input type="text" name="name" placeholder="...">
            <input type="submit" value="Search">
        </form>
    </nav>
    <div class="view" id="inventoryView" th:if="${view == 'inventoryView'}">
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Quantity In Stock</th>
                <th>Reorder Threshold</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pantryItem: ${pantryItems}" th:onclick="|location.href='@{/kitchen/pantry/{id}(id=${pantryItem.id})}'|">
                <td th:text="${pantryItem.id}"></td>
                <td th:text="${pantryItem.name}"></td>
                <td th:text="${pantryItem.quantityInStock}"></td>
                <td th:text="${pantryItem.reorderLevel}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="view" id="pantryItemView" th:if="${view == 'pantryItemView'}">
        <table id="pantryItemTable">
            <thead>
                <tr><th>Field</th><th>Value</th></tr>
            </thead>
            <tbody>
                <tr><td>Id</td><td th:text="${pantryItem.id}"></td></tr>
                <tr><td>Name</td><td th:text="${pantryItem.name}"></td></tr>
                <tr><td>Quantity in Stock</td><td th:text="${pantryItem.quantityInStock}"></td></tr>
                <tr><td>Reorder Level</td><td th:text="${pantryItem.reorderLevel}"></td></tr>
            </tbody>
        </table>
        <nav>
            <a th:href="@{/kitchen/pantry/save/{id}(id=${pantryItem.id})}">Edit</a>
            <a th:href="@{/kitchen/pantry/delete/{id}(id=${pantryItem.id})}">Delete</a>
        </nav>
    </div>
    <div class="view" id="pantryItemFormView" th:if="${view == 'pantryItemFormView'}">
        <form id="pantryItemForm" th:action="@{/kitchen/pantry/save}" th:method="post" th:object="${pantryItemDTO}">
            <fieldset>
                <label for="id">Id</label>
                <input type="number" id="id" name="id" readonly th:field="*{id}">
            </fieldset>
            <fieldset>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required th:field="*{name}" th:attr="readonly=${id != null ? 'readonly' : null}" >
<!--                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>-->
            </fieldset>
            <fieldset>
                <label for="quantityInStock">Quantity In Stock</label>
                <input
                    type="number" name="quantityInStock" id="quantityInStock" required th:field="*{quantityInStock}">
<!--                <p th:if="${#fields.hasErrors('quantityInStock')}" th:errors="*{quantityInStock}"></p>-->
            </fieldset>
            <fieldset>
                <label for="reorderLevel">Reorder Threshold</label>
                <input type="number" id="reorderLevel" name="reorderLevel" required th:field="*{reorderLevel}">
<!--                <p th:if="${#fields.hasErrors('reorderLevel')}" th:errors="*{reorderLevel}"></p>-->
            </fieldset>
            <fieldset>
                <input type="submit" value="Save">
            </fieldset>
        </form>
    </div>
    <div class="view" id="deletePantryItemView" th:if="${view == 'deletePantryItemView'}">
        <p class="warning" th:text="${#strings.isEmpty(warningMessage) ? 'Deletion removes all items referencing the item' : warningMessage}"></p>
        <form
            id="deletePantryItemForm"
            th:action="@{/kitchen/pantry/delete/{id}(id=${pantryItem.id})}"
            th:method="post"
            th:object="${pantryItem}"
        >
            <label for="pantryItemDeleteTargetId">ID
                <input type="text" id="pantryItemDeleteTargetId" readonly th:field="*{id}">
            </label>
            <fieldset class="actionGroup">
                <nav class="actionNav" id="deleteTaskActionNav">
                    <a class="cancel" th:href="@{/kitchen/pantry/{id}(id=*{id})}" th:text="${'Do not Delete'}"></a>
                    <input type="submit" class="delete" id="deleteTaskButton" value="Delete Now">
                </nav>
            </fieldset>
        </form>
        <!--end deleteTaskView-->
    </div>
</div>

</body>
</html>